@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.woff2') format('woff2'),
        url('/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", "Arial", sans-serif;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width: 1302px;
    margin-right: auto;
    margin-left: auto;
}

.hero-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 15px;
}

.hero-img{
    width: 737px;
    height: 825px;
    padding: 671px 233px 55px 69px;
    background-image: url('/images/hero-img.png');
    border-radius: 29px;        
}

.hero-title{
    font-weight: bold;
    font-size: 37px;
    line-height: 55px;
    color: #fff;
    margin-bottom: 5px;
}

.hero-text{
    font-size: 25px;
    line-height: 37px;
    color: #fff;
}

.hero-info{
    width: 454px;
}

.logo-link{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    position: relative;
    bottom: -80px;
    right: -35px;
} 

.welcome-text{
    font-size: 16px;
    line-height: 24px;
    color: #000;
    text-align: center;
    margin-bottom: 24px;
}

.log-in-div{
    width: 329px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8eddd;
    border-radius: 33px;
    padding: 10px 13px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
}

.btn{
    background-color: transparent;
    border-radius: 33px;
    font-size: 16px;
    line-height: 24px;
    color: #9e896a;
    text-decoration: none;
}

.btn:first-child{
    background-color: #9e896a;
    color: #fff;
    padding: 8px 52px;
}

.btn:last-child{
    padding: 8px 41px;
}

.btn:last-child:hover{
    background-color: #9e896a;
    color: #fff;
}

.log-in-text{
    font-size: 16px;
    line-height: 24px;
    color: #5b5b5b;
    margin-bottom: 42px;
}

.site-form{
    width: 454px;
}

.form-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.label{
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 12px;
}

.label-input{
    width: 435px;
    background-color: #fff;
    border: 1px solid #9E896A;
    border-radius: 40px;
    padding: 16px;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #acacac;
}

.label-input:focus{
    outline: none;
    color: #000;
}

.form-password{
    margin-bottom: 22px;
}

.eye-btn{
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    bottom: 35px;
    right: -390px;
}

.remember-form{
    display: flex;
    align-items: center;
    margin-bottom: 62px;
}

.remember{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    margin-right: 10px;
}

.remember-input{
    margin-right: 209px;
}

.btn-div{
    display: flex;
    justify-content: flex-end;
    width: 435px;
}

.last-btn{
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border: none;
    padding: 13px 95px;
    background: #9E896A;
    border-radius: 36px;
    cursor: pointer;
}

.page-btn{
    background-color: transparent;
    border-radius: 33px;
    font-size: 16px;
    line-height: 24px;
    color: #9e896a;
    text-decoration: none;
}

.page-btn:last-child{
    background-color: #9e896a;
    color: #fff;
    padding: 8px 41px;
}

.page-btn:first-child{
    padding: 8px 52px;
}

.page-btn:first-child:hover{
    background-color: #9e896a;
    color: #fff;
}

.page-txt{
    margin-bottom: 32px;
}

.page-password{
    margin-bottom: 55px;
}